<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
    <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"></link>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link href="/style.css" rel="stylesheet" type="text/css"></link>
    <script href="/tic-tac-toe.js"></script>
    <meta charset="utf-8"></meta>
    <title>Tic-Tac-Toe</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>