body {
  line-height: 125px;
  background-color: lightskyblue;
}

h1 {
  color: dimgrey;
}

.main-container {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.nested-container {
  margin: 0 auto;
  max-width: 500px;
}

table, td, th {
  border: 10px solid lightskyblue;

}

td {
  min-width: 145px;
  min-height: 145px;
}

input[type="submit"] {
  width: 100px;
  height: 100px;
}